@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int countId = 1;
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Title</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th style="vertical-align: middle;">@(countId++)</th>
                <th style="vertical-align: middle;"><img class="mr-3 circle-rounded" src="@item.Image" width="50" height="50" alt="Generic placeholder image"></th>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td><a href="/testimonial/deletetestimonial/@item.id" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>
                <td><a href="/testimonial/updatetestimonial/@item.id" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Testimonial/addtestimonial/" class="btn mb-1 btn-rounded btn-outline-primary">Add new testimonial</a>


