@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int countId = 1;
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Created Date</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th style="vertical-align: middle;">@(countId++)</th>
                <td>@item.Title</td>
                <td>@item.CreatedDate</td>
                <td><a href="/service/deleteservice/@item.id" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>
                <td><a href="/service/updateservice/@item.id" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Service/addservice/" class="btn mb-1 btn-rounded btn-outline-primary">Add new service</a>

